<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <h1> Assignment#2 – A Simple Cloud Application </h1>
    <button v-on:click="Create">Create</button><br>
    <button v-on:click="Query(year, title)">Query</button>
    Year: <input v-model="year"> Title: <input v-model="title"><br>
    <button v-on:click="Delete">Delete</button><br>
    <table border="1">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Year</th>
            <th>Director(s)</th>
            <th>Rating</th>
            <th>Rank</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="row in response">
            <td v-for="item in row">
                {{item}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            title:'',
            year:'',
            response : [],
        },
        methods: {
            Create: create,
            Delete: deleteD,
            Query: query
        }
    })

    function create() {
        let prom = fetch('/create', {method:'POST'})
        prom.then(response => response.json())
    }

    function query(year, title) {
        let prom = fetch('/query/'+title+'/'+year, {method:'POST'})
        prom.then(response => response.json()).then(response => {this.response = response.myList})
    }

    function deleteD(){
        let prom = fetch('/delete', {method:'POST'})
        prom.then(response => response.json())
    }

</script>
</body>
</html>
